BYT.UI/Connected Services/MesaiHizmeti/MesaiHizmeti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Gumruk.BizTalk.Integration" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesaiHizmeti" targetNamespace="http://Gumruk.BizTalk.Integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://Gumruk.BizTalk.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://MesaiBasvuru" />
      <xs:import namespace="http://schemas.microsoft.com/BizTalk/2003/Any" />
      <xs:import namespace="http://MesaiBasvuruIptal" />
      <xs:element name="MesaiBasvuru">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://MesaiBasvuru" minOccurs="0" maxOccurs="1" ref="q1:GelenBasvuruBilgisi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FazlaMesaiBasvuruResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://schemas.microsoft.com/BizTalk/2003/Any" minOccurs="0" maxOccurs="1" ref="q2:Root" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MesaiBasvuruIptal">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://MesaiBasvuruIptal" minOccurs="0" maxOccurs="1" ref="q3:GelenBasvuruIptalBilgisi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FazlaMesaiBasvuruIptalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://schemas.microsoft.com/BizTalk/2003/Any" minOccurs="0" maxOccurs="1" ref="q4:Root" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://MesaiBasvuru" elementFormDefault="qualified" targetNamespace="http://MesaiBasvuru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://tempuri.org/" />
      <xs:element xmlns:q1="http://tempuri.org/" name="GelenBasvuruBilgisi" type="q1:MesaiBasvuru" />
    </xs:schema>
    <xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="MesaiBasvuru">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IslemTipi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DigerNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BeyannameNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IrtibatAdSoyad" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IrtibatTelefonNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GumrukSahasinda" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Adres" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Uzaklik" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="GlobalHesaptanOdeme" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GumrukKodu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EsyaninBulunduguYer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EsyaninBulunduguYerAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EsyaninBulunduguYerKodu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirmaVergiNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OdemeYapacakFirmaVergiNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OZBYSayisi" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="NCTSSayisi" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="AracAdedi" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MesaiBasvuruIptal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MesaiID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/BizTalk/2003/Any" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/BizTalk/2003/Any" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Root">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://MesaiBasvuruIptal" elementFormDefault="qualified" targetNamespace="http://MesaiBasvuruIptal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://tempuri.org/" />
      <xs:element xmlns:q1="http://tempuri.org/" name="GelenBasvuruIptalBilgisi" type="q1:MesaiBasvuruIptal" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="MesaiBasvuruSoapIn">
    <wsdl:part name="parameters" element="tns:MesaiBasvuru" />
  </wsdl:message>
  <wsdl:message name="MesaiBasvuruSoapOut">
    <wsdl:part name="parameters" element="tns:FazlaMesaiBasvuruResponse" />
  </wsdl:message>
  <wsdl:message name="MesaiBasvuruIptalSoapIn">
    <wsdl:part name="parameters" element="tns:MesaiBasvuruIptal" />
  </wsdl:message>
  <wsdl:message name="MesaiBasvuruIptalSoapOut">
    <wsdl:part name="parameters" element="tns:FazlaMesaiBasvuruIptalResponse" />
  </wsdl:message>
  <wsdl:portType name="Gumruk_Biztalk_MesaiBasvuruSoap">
    <wsdl:operation name="MesaiBasvurusuYap">
      <wsdl:input wsaw:Action="http://Gumruk.BizTalk.Integration/MesaiBasvuru" name="MesaiBasvuruSoapIn" message="tns:MesaiBasvuruSoapIn" />
      <wsdl:output wsaw:Action="http://Gumruk.BizTalk.Integration/MesaiBasvuru" name="MesaiBasvuruSoapOut" message="tns:MesaiBasvuruSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MesaiBasvuruIptal">
      <wsdl:input wsaw:Action="http://Gumruk.BizTalk.Integration/MesaiBasvuruIptal" name="MesaiBasvuruIptalSoapIn" message="tns:MesaiBasvuruIptalSoapIn" />
      <wsdl:output wsaw:Action="http://Gumruk.BizTalk.Integration/MesaiBasvuruIptal" name="MesaiBasvuruIptalSoapOut" message="tns:MesaiBasvuruIptalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Gumruk_Biztalk_MesaiBasvuruSoap" type="tns:Gumruk_Biztalk_MesaiBasvuruSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MesaiBasvurusuYap">
      <soap:operation soapAction="http://Gumruk.BizTalk.Integration/MesaiBasvuru" style="document" />
      <wsdl:input name="MesaiBasvuruSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MesaiBasvuruIptal">
      <soap:operation soapAction="http://Gumruk.BizTalk.Integration/MesaiBasvuruIptal" style="document" />
      <wsdl:input name="MesaiBasvuruIptalSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruIptalSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap" type="tns:Gumruk_Biztalk_MesaiBasvuruSoap">
    <wsp:PolicyReference URI="#BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MesaiBasvurusuYap">
      <soap:operation soapAction="http://Gumruk.BizTalk.Integration/MesaiBasvuru" style="document" />
      <wsdl:input name="MesaiBasvuruSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MesaiBasvuruIptal">
      <soap:operation soapAction="http://Gumruk.BizTalk.Integration/MesaiBasvuruIptal" style="document" />
      <wsdl:input name="MesaiBasvuruIptalSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruIptalSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesaiHizmeti">
    <wsdl:port name="BasicHttpBinding_Gumruk_Biztalk_MesaiBasvuruSoap" binding="tns:BasicHttpBinding_Gumruk_Biztalk_MesaiBasvuruSoap">
      <soap:address location="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/FazlaMesaiWS" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap" binding="tns:BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap">
      <soap:address location="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/FazlaMesaiWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>