BYT.UI/Connected Services/MesaiHizmeti/MesaiHizmeti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesaiHizmeti" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMesaiHizmeti_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://MesaiBasvuru" />
      <xs:import namespace="http://MesaiBasvuruIptal" />
      <xs:import namespace="http://GlobalHesapBasvuru" />
      <xs:import namespace="http://GlobalHesapBasvuruIptal" />
      <xs:import namespace="http://GlobalHesapBakiyeTransfer" />
      <xs:element name="MesaiBasvuru">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://MesaiBasvuru" minOccurs="0" maxOccurs="1" ref="q1:GelenBasvuruBilgisi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FazlaMesaiBasvuruResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Root">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MesaiBasvuruIptal">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://MesaiBasvuruIptal" minOccurs="0" maxOccurs="1" ref="q2:GelenBasvuruIptalBilgisi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FazlaMesaiBasvuruIptalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Root">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalHesapBasvuru">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://GlobalHesapBasvuru" minOccurs="0" maxOccurs="1" ref="q3:GelenGlobalHesapBasvuruBilgisi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalHesapBasvuruResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Root">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalHesapBasvuruIptal">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://GlobalHesapBasvuruIptal" minOccurs="0" maxOccurs="1" ref="q4:GelenGlobalHesapIptalBilgisi" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalHesapBasvuruIptalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Root">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalHesapBakiyeTransfer">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://GlobalHesapBakiyeTransfer" minOccurs="0" maxOccurs="1" ref="q5:GlobalHesapBakiyeTransfer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GlobalHesapBakiyeTransferResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Root">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://MesaiBasvuru" elementFormDefault="qualified" targetNamespace="http://MesaiBasvuru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GelenBasvuruBilgisi" type="tns:MesaiBasvuru" />
      <xs:complexType name="MesaiBasvuru">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IslemTipi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DigerNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BeyannameNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IrtibatAdSoyad" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IrtibatTelefonNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GumrukSahasinda" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Adres" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Uzaklik" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="GlobalHesaptanOdeme" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GlobalHesapID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GumrukKodu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EsyaninBulunduguYer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EsyaninBulunduguYerAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EsyaninBulunduguYerKodu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirmaVergiNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OdemeYapacakFirmaVergiNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OZBYSayisi" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="NCTSSayisi" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="AracAdedi" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://MesaiBasvuruIptal" elementFormDefault="qualified" targetNamespace="http://MesaiBasvuruIptal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GelenBasvuruIptalBilgisi" type="tns:MesaiBasvuruIptal" />
      <xs:complexType name="MesaiBasvuruIptal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MesaiID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://GlobalHesapBasvuru" elementFormDefault="qualified" targetNamespace="http://GlobalHesapBasvuru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GelenGlobalHesapBasvuruBilgisi" type="tns:GlobalHesapBasvuru" />
      <xs:complexType name="GlobalHesapBasvuru">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Adres" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Tutar" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="OdemeYapacakFirmaVergiNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GumrukKodu" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://GlobalHesapBasvuruIptal" elementFormDefault="qualified" targetNamespace="http://GlobalHesapBasvuruIptal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GelenGlobalHesapIptalBilgisi" type="tns:GlobalHesapBasvuruIptal" />
      <xs:complexType name="GlobalHesapBasvuruIptal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HesapID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OdemeYapacakFirmaVergiNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://GlobalHesapBakiyeTransfer" elementFormDefault="qualified" targetNamespace="http://GlobalHesapBakiyeTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GlobalHesapBakiyeTransfer" type="tns:GlobalHesapBakiyeTransfer" />
      <xs:complexType name="GlobalHesapBakiyeTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="KullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sifre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RefID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HesapSahibiFirmaVergiNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="KaynakHesapID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HedefHesapID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="MesaiBasvuruSoapIn">
    <wsdl:part name="parameters" element="tns:MesaiBasvuru" />
  </wsdl:message>
  <wsdl:message name="MesaiBasvuruSoapOut">
    <wsdl:part name="parameters" element="tns:FazlaMesaiBasvuruResponse" />
  </wsdl:message>
  <wsdl:message name="MesaiBasvuruIptalSoapIn">
    <wsdl:part name="parameters" element="tns:MesaiBasvuruIptal" />
  </wsdl:message>
  <wsdl:message name="MesaiBasvuruIptalSoapOut">
    <wsdl:part name="parameters" element="tns:FazlaMesaiBasvuruIptalResponse" />
  </wsdl:message>
  <wsdl:message name="GlobalHesapBasvuruSoapIn">
    <wsdl:part name="parameters" element="tns:GlobalHesapBasvuru" />
  </wsdl:message>
  <wsdl:message name="GlobalHesapBasvuruSoapOut">
    <wsdl:part name="parameters" element="tns:GlobalHesapBasvuruResponse" />
  </wsdl:message>
  <wsdl:message name="GlobalHesapBasvuruIptalSoapIn">
    <wsdl:part name="parameters" element="tns:GlobalHesapBasvuruIptal" />
  </wsdl:message>
  <wsdl:message name="GlobalHesapBasvuruIptalSoapOut">
    <wsdl:part name="parameters" element="tns:GlobalHesapBasvuruIptalResponse" />
  </wsdl:message>
  <wsdl:message name="GlobalHesapBakiyeTransferSoapIn">
    <wsdl:part name="parameters" element="tns:GlobalHesapBakiyeTransfer" />
  </wsdl:message>
  <wsdl:message name="GlobalHesapBakiyeTransferSoapOut">
    <wsdl:part name="parameters" element="tns:GlobalHesapBakiyeTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesaiHizmeti">
    <wsdl:operation name="MesaiBasvurusuYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaiHizmeti/MesaiBasvurusuYap" name="MesaiBasvuruSoapIn" message="tns:MesaiBasvuruSoapIn" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaiHizmeti/MesaiBasvurusuYapResponse" name="MesaiBasvuruSoapOut" message="tns:MesaiBasvuruSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MesaiBasvuruIptal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaiHizmeti/MesaiBasvuruIptal" name="MesaiBasvuruIptalSoapIn" message="tns:MesaiBasvuruIptalSoapIn" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaiHizmeti/MesaiBasvuruIptalResponse" name="MesaiBasvuruIptalSoapOut" message="tns:MesaiBasvuruIptalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBasvuruYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruYap" name="GlobalHesapBasvuruSoapIn" message="tns:GlobalHesapBasvuruSoapIn" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruYapResponse" name="GlobalHesapBasvuruSoapOut" message="tns:GlobalHesapBasvuruSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBasvuruIptal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruIptal" name="GlobalHesapBasvuruIptalSoapIn" message="tns:GlobalHesapBasvuruIptalSoapIn" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruIptalResponse" name="GlobalHesapBasvuruIptalSoapOut" message="tns:GlobalHesapBasvuruIptalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBakiyeTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaiHizmeti/GlobalHesapBakiyeTransfer" name="GlobalHesapBakiyeTransferSoapIn" message="tns:GlobalHesapBakiyeTransferSoapIn" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaiHizmeti/GlobalHesapBakiyeTransferResponse" name="GlobalHesapBakiyeTransferSoapOut" message="tns:GlobalHesapBakiyeTransferSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesaiHizmeti" type="tns:IMesaiHizmeti">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MesaiBasvurusuYap">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/MesaiBasvurusuYap" style="document" />
      <wsdl:input name="MesaiBasvuruSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MesaiBasvuruIptal">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/MesaiBasvuruIptal" style="document" />
      <wsdl:input name="MesaiBasvuruIptalSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruIptalSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBasvuruYap">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruYap" style="document" />
      <wsdl:input name="GlobalHesapBasvuruSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobalHesapBasvuruSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBasvuruIptal">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruIptal" style="document" />
      <wsdl:input name="GlobalHesapBasvuruIptalSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobalHesapBasvuruIptalSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBakiyeTransfer">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/GlobalHesapBakiyeTransfer" style="document" />
      <wsdl:input name="GlobalHesapBakiyeTransferSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobalHesapBakiyeTransferSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMesaiHizmeti" type="tns:IMesaiHizmeti">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMesaiHizmeti_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MesaiBasvurusuYap">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/MesaiBasvurusuYap" style="document" />
      <wsdl:input name="MesaiBasvuruSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MesaiBasvuruIptal">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/MesaiBasvuruIptal" style="document" />
      <wsdl:input name="MesaiBasvuruIptalSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MesaiBasvuruIptalSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBasvuruYap">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruYap" style="document" />
      <wsdl:input name="GlobalHesapBasvuruSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobalHesapBasvuruSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBasvuruIptal">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/GlobalHesapBasvuruIptal" style="document" />
      <wsdl:input name="GlobalHesapBasvuruIptalSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobalHesapBasvuruIptalSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalHesapBakiyeTransfer">
      <soap:operation soapAction="http://tempuri.org/IMesaiHizmeti/GlobalHesapBakiyeTransfer" style="document" />
      <wsdl:input name="GlobalHesapBakiyeTransferSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobalHesapBakiyeTransferSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesaiHizmeti">
    <wsdl:port name="BasicHttpBinding_IMesaiHizmeti" binding="tns:BasicHttpBinding_IMesaiHizmeti">
      <soap:address location="http://ws.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/FazlaMesaiWS" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMesaiHizmeti" binding="tns:BasicHttpsBinding_IMesaiHizmeti">
      <soap:address location="http://ws.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/FazlaMesaiWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>