BYT.UI/Connected Services/IGHBHizmeti/IGHBHizmeti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Gumruk.BizTalk.Integration" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IGHBHizmeti" targetNamespace="http://Gumruk.BizTalk.Integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_Gumruk_Biztalk_IGHB_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://Gumruk.BizTalk.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://LoginKontrol.IGHBGelen" />
      <xs:import namespace="http://schemas.microsoft.com/BizTalk/2003/Any" />
      <xs:element name="IGHB">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://LoginKontrol.IGHBGelen" minOccurs="0" maxOccurs="1" ref="q1:IGHBGelen" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IGHBResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://schemas.microsoft.com/BizTalk/2003/Any" minOccurs="0" maxOccurs="1" ref="q2:Root" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://LoginKontrol.IGHBGelen" elementFormDefault="qualified" targetNamespace="http://LoginKontrol.IGHBGelen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://tempuri.org/" />
      <xs:element name="IGHBGelen">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="RefID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="KullaniciAdi" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Sifre" type="xs:string" />
            <xs:element xmlns:q1="http://tempuri.org/" minOccurs="1" maxOccurs="1" ref="q1:IGHB" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="IGHB" nillable="true" type="tns:IGHB" />
      <xs:complexType name="IGHB">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TesisKodu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IzinliGondericiVergiNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GumrukKodu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PlakaBilgisi" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TCGBBilgiListesi" nillable="true" type="tns:ArrayOfTCGBBilgi" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfTCGBBilgi">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="TCGBBilgi" nillable="true" type="tns:TCGBBilgi" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TCGBBilgi">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TCGBNumarasi" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/BizTalk/2003/Any" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/BizTalk/2003/Any" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Root">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IGHBSoapIn">
    <wsdl:part name="parameters" element="tns:IGHB" />
  </wsdl:message>
  <wsdl:message name="IGHBSoapOut">
    <wsdl:part name="parameters" element="tns:IGHBResponse" />
  </wsdl:message>
  <wsdl:portType name="Gumruk_Biztalk_IGHB">
    <wsdl:operation name="IzinliGondericiHazirBildirimiYap">
      <wsdl:input wsaw:Action="http://Gumruk.BizTalk.Integration/IzinliGondericiHazirBildirimi" name="IGHBSoapIn" message="tns:IGHBSoapIn" />
      <wsdl:output wsaw:Action="http://Gumruk.BizTalk.Integration/IzinliGondericiHazirBildirimi" name="IGHBSoapOut" message="tns:IGHBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Gumruk_Biztalk_IGHB" type="tns:Gumruk_Biztalk_IGHB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IzinliGondericiHazirBildirimiYap">
      <soap:operation soapAction="http://Gumruk.BizTalk.Integration/IzinliGondericiHazirBildirimi" style="document" />
      <wsdl:input name="IGHBSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IGHBSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_Gumruk_Biztalk_IGHB" type="tns:Gumruk_Biztalk_IGHB">
    <wsp:PolicyReference URI="#BasicHttpsBinding_Gumruk_Biztalk_IGHB_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IzinliGondericiHazirBildirimiYap">
      <soap:operation soapAction="http://Gumruk.BizTalk.Integration/IzinliGondericiHazirBildirimi" style="document" />
      <wsdl:input name="IGHBSoapIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IGHBSoapOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IGHBHizmeti">
    <wsdl:port name="BasicHttpBinding_Gumruk_Biztalk_IGHB" binding="tns:BasicHttpBinding_Gumruk_Biztalk_IGHB">
      <soap:address location="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/IGHB" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_Gumruk_Biztalk_IGHB" binding="tns:BasicHttpsBinding_Gumruk_Biztalk_IGHB">
      <soap:address location="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/IGHB" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>